@import url("../../assets/less/jiaConfig");
/** 框架 **/
.colorRed {
    color: @colorff6600;
}
.color333 {
    color: @color333333;
}
.color999 {
    color: @color999999;
}

/** 新手标 **/

.home-newobj {
    margin-top: 20/@fontRemBase;
    height: 580/@fontRemBase;
    background-color: @colorffffff;
    position: relative;
    overflow: visible;
}

.home-tag, .home-full-tag {
    position: absolute;
    top: -3px;
    right: 0.75rem;
    text-align: center;
    line-height: 200%;
    color: white;
    width: 97/@fontRemBase;
    z-index: 99;
}

.home-tag {
    height: 80/@fontRemBase;
    background: url(./images/tag.png);
    background-size: 100%;
}
.home-full-tag {
    height: 75/@fontRemBase;
    background: url(./images/tagFull.png);
    background-size: 100%;
}

.home-newobj-titel {
    height: 90/@fontRemBase;
    line-height: 90/@fontRemBase;
    color: @color333333;
    font-size: 15px;
    text-align: center;
    vertical-align: middle; //font-weight: 600;
    .splitBorderBottomLine();
}

.home-newobj-tag {
    padding-top: .3*100/@fontRemBase;
    text-align: center;
    line-height: 12px;
    font-size: 9px;
}

.home-newobj-yield {
    text-align: center;
}

.home-newobj-yield-val {
    color: @colorff6600;
    margin-top: .18*100/@fontRemBase;
    letter-spacing: 5px; //font-weight: 600;
}

.home-newobj-summary {
    margin-top: 0.46*100/@fontRemBase;
    .flexbox();
    >div {
        width: 33.333333%;
        text-align: center;
    }
    .color999 {
        margin-top: .05*100/@fontRemBase;
    }
}

.home-newobj-btn {
    padding: .3*100/@fontRemBase .4*100/@fontRemBase;
    .button {
        border: none;
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: block;
        border-radius: 0.25rem;
        line-height: 2.15rem;
        background: #ff6600;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        padding: 0 0.5rem;
        margin: 0;
        white-space: nowrap;
        position: relative;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        font-family: inherit;
        cursor: pointer;
    }
}

/** 优选理财 **/
/** 精心推荐 **/
.home-recommend {
    margin-top: .2*100/@fontRemBase;
    background-color: @colorffffff;
    .home-recommend-title {
        height: .9*100/@fontRemBase;
        line-height: .9*100/@fontRemBase;
        color: @color333333;
        font-size: 15px;
        text-align: left;
        vertical-align: middle; //font-weight: 600;
        padding-left: .3*100/@fontRemBase;
        .splitBorderBottomLine();
        >i {
            height: .32*100/@fontRemBase;
            width: .32*100/@fontRemBase;
            background: url(./images/icon-jxyx.png) no-repeat;
            background-size: 100%;
            display: inline-block;
            vertical-align: middle;
            &.zan {
                background: url(./images/icon-yxlc.png) no-repeat;
                background-size: 100%;
            }
        }
        >span {
            margin-left: 5px;
            vertical-align: middle;
        }
    }
    .home-recommend-obj {
        padding: .4*100/@fontRemBase 0;
        font-size: 14px;
        margin-left: .3*100/@fontRemBase;
        position: relative;
        overflow: visible;
        .splitBorderBottomLine();
    }
    .home-recommend-obj-title {
        vertical-align: middle;
        color: @color333333;
    }
    .home-recommend-obj-yield {
        .flexbox();
        padding-top: .5*100/@fontRemBase;
        >div {
            flex: 1;
        }
        >div:nth-child(2) {
            padding-left: .4*100/@fontRemBase;
        }
    }
    .yield-name {
        margin-top: .2*100/@fontRemBase;
        color: @color999999;
        display: block;
    }
    .yield-progress {
        text-align: center;
        margin-top: -.05*100/@fontRemBase
    }
    .yield-progress-full {
        text-align: center;
        margin-top: -.05rem;
        background: url(./images/full_object.png) no-repeat center;
        background-size: 55px 50px;
    }

    .circel-section {
        width: 60px;
        height: 60px;
        margin: 0 auto;
    }
    
}

// home-special
.home-special {
    margin-top: 10px;
    background-color: @colorffffff;
    .home-catalogue {
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        img{
            width: 8rem;
            height: 5.34rem;
        }
    }
}
/** foot **/
.home-footer {
    padding: 30/@fontRemBase;
    text-align: center;
    background: #f0f0f0;
}
.home-footer-safe {
    >i {
        background: url(./images/icon-aq.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        vertical-align: middle;
        width: 13px;
        height: 13px;
    }
    >span {
        color: rgb(119, 139, 153);
        margin-left: 5px;
        vertical-align: middle;
    }
}
.home-footer-title {
    margin-top: .24*100/@fontRemBase;
    >div {
        //border-top: 1px solid #ced9e1;
        height: 1px;
        overflow: hidden;
        background: #ced9e1;
        position: relative;
        display: block;
        top: -.16*100/@fontRemBase;
        z-index: 1;
    }
    >span {
        color: #9aadbb;
        position: relative;
        z-index: 2;
        background-color: #f0f0f0;
        padding: 0 .1*100/@fontRemBase;
    }
}


#newUser_reward {
    margin-top: .5rem;
    background-color: #ffffff;
}
