@import url("../../assets/less/jiaConfig");
.headerTabBgc {
    background-color: white;
    width: 100%;
    height: 2.6rem;
    float: left; // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 10;
}

.headerTab {
    display: flex;
    margin: 26/@fontRemBase ((750-190*3)/2)/@fontRemBase;
    border-radius: 20px;
    background-color: rgb(247, 247, 247);
    .headerButton {
        display: inline-block;
        width: 190/@fontRemBase;
        line-height: 54/@fontRemBase;
        border-radius: 20px;
        flex: 1;
        text-align: center;
        &.active {
            background-color: #ff6600;
            color: #fff;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
        }
    }
}

/*选择排序区域*/

.claimsList-sort {
    // position: absolute;
    // top: 2.6rem;
    // left: 0;
    // z-index: 10;
    width: 100%;
    height: 2.2rem;
    .flexbox();
    background-color: white;
    border-bottom: 2px solid @colordddddd;
    border-top: 1px solid @colordddddd;
}

.claimsList-sortitem {
    .flex1();
    padding: 0.6rem 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: @color333333;
}

.claimsList-sortitem-box {
    line-height: 1rem;
    border-right: 1px solid @colordddddd;
}

.claimsList-select {
    .flex1();
    padding: 0.6rem 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: @color333333;
}

.claimsList-select>.claimsList-sortitem-box {
    border: none;
}

#claimsListSortDefault {
    color: @colorff6600;
}

.open-panel .claimsList-sortitem-box {
    border: none;
}

.claimsList-sort-active {
    color: @colorff6600;
}

.claimsList-sort-base {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.claimsList-sort1 {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: initial;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 2px;
}

.claimsList-sort4 {
    background-image: url(images/select.png);
    background-size: 16px 16px;
}

.claimsList-sort-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid @colordddddd;
    position: absolute;
    top: 0;
}

.claimsList-active-up {
    border-bottom: 8px solid @colorff6600;
}

.claimsList-sort-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid @colordddddd;
    position: absolute;
    top: 9px;
}

.claimsList-active-down {
    border-top: 8px solid @colorff6600;
}

.claimsList-have-data {
    text-align: center;
    font-size: 20px;
    margin: 1rem;
}

.mescroll {
    position: fixed;
    top: 4.8rem;
    bottom: 49px;
    height: auto;
}

.finance-lists {
    overflow-y: scroll;
    overflow-x: hidden;
}

.finance-tag {
    position: absolute;
    top: -3px;
    right: 0.75rem;
    width: 97 / @fontRemBase;
    height: 82 / @fontRemBase;
    text-align: center;
    background: url(./images/tag.png);
    background-size: 100% 100%;
    color: white;
    line-height: 200%;
    z-index: 99;
}

.finance-tag-full {
    position: absolute;
    top: -3px;
    right: 0.75rem;
    width: 97 / @fontRemBase;
    height: 82 / @fontRemBase;
    text-align: center;
    background: url(./images/tagFull.png);
    background-size: 100% 100%;
    color: white;
    line-height: 200%;
    z-index: 99;
}

//分割线部分
.cut-off {
    margin: 0.75rem 0.75rem 0.5rem;
    height: 1rem;
    text-align: center;
    position: relative;
    .cut-off-line {
        width: 100%;
        height: 1px;
        background-color: #ddd;
        position: relative;
        z-index: 1;
        top: -1px;
    }
    .cut-off-text {
        position: relative;
        z-index: 2;
        background-color: #f0f0f0;
        padding: 0 0.25rem;
        top: -0.75rem;
    }
    >p {
        width: 4rem;
        display: inline-block;
        vertical-align: middle;
        color: #777;
    }
    .cut-off-left {
        height: 1px;
        border-bottom: 1px solid #dedede;
    }
    .cut-off-right {
        height: 1px;
        border-bottom: 1px solid #dedede;
    }
    .look-project {
        width: 7.5rem;
    }
}

.foot-titp {
    padding: 0.75rem 0;
    text-align: center;
    color: #aaa9a9;
}

.finance-line {
    height: 15px;
    line-height: 6px;
    >div {
        height: 1px;
        background-color: #ddd;
    }
}

//头部下面的图片jia16.com
.headerTitp {
    padding: 0 30 / @fontRemBase;
    padding-bottom: 26 / @fontRemBase;
    background-color: white;
    >img {
        width: 122 / @fontRemBase;
        height: 40 / @fontRemBase;
    }
    >span:nth-child(2) {
        display: inline-block;
        color: @colorff6600;
        margin: 0 8 / @fontRemBase;
    }
    >span:nth-child(3) {
        color: @color999999;
    }
}

/*下拉刷新--上下箭头*/

.mescroll-downwarp .downwarp-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-image: url(./images/mescroll-arrow.png);
    background-size: contain;
    vertical-align: middle;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

/*下拉刷新,上拉加载--旋转进度条*/

.mescroll-downwarp .downwarp-progress,
.mescroll-upwarp .upwarp-progress {
    width: 36px;
    height: 36px;
    border: none;
    margin: auto;
    background-size: contain;
    -webkit-animation: progressRotate 0.6s steps(6, start) infinite;
    animation: progressRotate 0.6s steps(6, start) infinite;
}

@-webkit-keyframes progressRotate {
    0% {
        background-image: url(./images/mescroll-progress1.png);
    }
    16% {
        background-image: url(./images/mescroll-progress2.png);
    }
    32% {
        background-image: url(./images/mescroll-progress3.png);
    }
    48% {
        background-image: url(./images/mescroll-progress4.png);
    }
    64% {
        background-image: url(./images/mescroll-progress5.png);
    }
    80% {
        background-image: url(./images/mescroll-progress6.png);
    }
    100% {
        background-image: url(./images/mescroll-progress1.png);
    }
}

@keyframes progressRotate {
    0% {
        background-image: url(./images/mescroll-progress1.png);
    }
    16% {
        background-image: url(./images/mescroll-progress2.png);
    }
    32% {
        background-image: url(./images/mescroll-progress3.png);
    }
    48% {
        background-image: url(./images/mescroll-progress4.png);
    }
    64% {
        background-image: url(./images/mescroll-progress5.png);
    }
    80% {
        background-image: url(./images/mescroll-progress6.png);
    }
    100% {
        background-image: url(./images/mescroll-progress1.png);
    }
}